# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.list
05_PG/Debug/makefile
05_PG/Debug/Middlewares/Third_Party/FreeRTOS/Source/CMSIS_RTOS_V2/subdir.mk
05_PG/Debug/Middlewares/Third_Party/FreeRTOS/Source/portable/GCC/ARM_CM4F/subdir.mk
05_PG/Debug/Middlewares/Third_Party/FreeRTOS/Source/portable/MemMang/subdir.mk
05_PG/Debug/Middlewares/Third_Party/FreeRTOS/Source/subdir.mk
05_PG/Debug/objects.mk
05_PG/Debug/sources.mk
05_PG/Debug/Src/subdir.mk
05_PG/Debug/Startup/subdir.mk
05_PG/Debug/Drivers/STM32F4xx_HAL_Driver/Src/subdir.mk
05_PG/Debug/Drivers/STM32F4xx_HAL_Driver/Src/subdir.mk
05_PG/Debug/Drivers/STM32F4xx_HAL_Driver/Src/subdir.mk
05_PG/Debug/Drivers/STM32F4xx_HAL_Driver/Src/subdir.mk
